USE [DE3]
GO
/****** Object:  Table [dbo].[CVCha]    Script Date: 7/29/2024 2:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVCha](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CVCon]    Script Date: 7/29/2024 2:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CVCon](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TenCV] [nvarchar](255) NULL,
	[MoTa] [nvarchar](255) NULL,
	[ThgianBD] [datetime] NULL,
	[ThgianKT] [datetime] NULL,
	[NguoiTH] [nvarchar](255) NULL,
	[NguoiGiao] [nvarchar](255) NULL,
	[CvChaID] [int] NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Token]    Script Date: 7/29/2024 2:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Token](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Users_ID] [int] NULL,
	[access_token] [nvarchar](255) NULL,
	[refresh_token] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/29/2024 2:00:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](255) NOT NULL,
	[Pass] [nvarchar](255) NULL,
	[Role] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CVCha] ON 

INSERT [dbo].[CVCha] ([ID], [TenCV], [MoTa], [IsDelete]) VALUES (1, N'Kiosk', N'ứng dụng mua hàng giống cây ATM', 0)
SET IDENTITY_INSERT [dbo].[CVCha] OFF
GO
SET IDENTITY_INSERT [dbo].[CVCon] ON 

INSERT [dbo].[CVCon] ([ID], [TenCV], [MoTa], [ThgianBD], [ThgianKT], [NguoiTH], [NguoiGiao], [CvChaID], [IsDelete]) VALUES (1, N'hyhy', N'Dựng khung source code', CAST(N'2024-06-12T00:00:00.000' AS DateTime), CAST(N'2024-06-14T00:00:00.000' AS DateTime), N'Huyền', N'Kiệt', 1, 0)
SET IDENTITY_INSERT [dbo].[CVCon] OFF
GO
SET IDENTITY_INSERT [dbo].[Token] ON 

INSERT [dbo].[Token] ([ID], [Users_ID], [access_token], [refresh_token]) VALUES (1, 1, N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJRCI6IjEiLCJVc2VyTmFtZSI6ImFkbWluIiwiUm9sZSI6IjEiLCJleHAiOjE3MjIyMzk3NjB9.Uz4_2GvZyK2SBS1oxJukEPeD1m5I_sW4DnozutGNXkQ', N'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJJRCI6IjEiLCJVc2VyTmFtZSI6ImFkbWluIiwiUm9sZSI6IjEiLCJleHAiOjE3MjI4NDA5NjB9.ghnhx5fmLDZXsIeYbyaQOjigHh3UtKm6rX40MiMmD0w')
SET IDENTITY_INSERT [dbo].[Token] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [UserName], [Pass], [Role]) VALUES (1, N'admin', N'f52EmOY2EqOlO+TvezMgDgWOo+sI249P1hzRKVcu1gE=', 1)
INSERT [dbo].[Users] ([ID], [UserName], [Pass], [Role]) VALUES (2, N'huyen', N'f52EmOY2EqOlO+TvezMgDgWOo+sI249P1hzRKVcu1gE=', 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[CVCon]  WITH CHECK ADD FOREIGN KEY([CvChaID])
REFERENCES [dbo].[CVCha] ([ID])
GO
ALTER TABLE [dbo].[Token]  WITH CHECK ADD FOREIGN KEY([Users_ID])
REFERENCES [dbo].[Users] ([ID])
GO
